<div class="mt-3 flex justify-between mx-2">
  <h1 class="text-3xl font-bold">Feeds</h1>
  <%= link_to "New Feed", new_feed_path, class: "button-primary" %>
</div>
<div class="mt-3 space-y-4">
  <%= render partial: "feed_row", collection: @feeds, as: :feed %>
</div>
