<div class="pt-3 pb-1 flex justify-between sticky top-16 bg-white">
  <h1 class="text-3xl font-bold">New feed</h1>
</div>
<div class="mx-2 mt-20">
  <%= render partial: "form", locals: { feed: @feed } %>
</div>
