body {
  padding-top: 60px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.panel-heading {
  background-color: #d6d6d6;
  &.selected {
    background-color: #A8CEE6;
  }
}

#entry-nav {
  margin-right: 5px;
  margin-bottom: 15px;
}

.content {
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  .form-signin-heading,
  .checkbox {
    margin-bottom: 10px;
  }
}
