development:
  adapter: postgresql
  host: localhost
  database: mallard_development
  username:
  password:
  pool: 5

production:
  adapter: postgresql
  host: localhost
  database: mallard_production
  username:
  password:
  pool: 5

test:
  adapter: sqlite3
  database: ":memory:"
