<h2>Setup</h2>
<form action="/setup" method="post" role="form">
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" required="true" class="form-control">
  </div>
  <div class="form-group">
    <label for="password_confirmation">Password Confirmation</label>
    <input type="password" name="password_confirmation" required="true" class="form-control">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
