@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/aspect-ratio';

@theme {
  --font-sans: 'Inter var', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.nav-entry-active {
  @apply bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium block;
}

.nav-entry {
  @apply text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium block;
}

.button-primary {
  @apply inline-flex items-center px-2.5 py-1.5 border border-transparent font-medium rounded-sm shadow-xs focus:outline-hidden focus:ring-2 focus:ring-offset-2 text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500;
}

.button-danger {
  @apply inline-flex items-center px-2.5 py-1.5 border border-transparent font-medium rounded-sm shadow-xs focus:outline-hidden focus:ring-2 focus:ring-offset-2 text-white bg-red-600 hover:bg-red-700 focus:ring-red-500;
}

.button-plain {
  @apply inline-flex items-center px-2.5 py-1.5 border border-transparent font-medium rounded-sm shadow-xs focus:outline-hidden focus:ring-2 focus:ring-offset-2 bg-gray-300 hover:bg-gray-400 focus:ring-gray-500;
}

#entry-list {
  overflow-y: auto;
}

/* Width hard-coded from tailwind's sm breakpoint + 1 */
@media (max-width: 641px) {
  #entry-list img {
    max-width: 100%; /* Part 1: Set a maximum relative to the parent */
    height: auto; /* Part 2: Scale the height according to the width, otherwise you get stretching */
  }

  #entry-list iframe,
  #entry-list embed,
  #entry-list object,
  #entry-list video {
    width: 100%;
    height: auto;
    border: 0;
  }
}

.entry-contents p, .entry-contents div, .entry-contents h1, .entry-contents h2,
.entry-contents h3, .entry-contents h4, .entry-contents h5, .entry-contents h6 {
  @apply my-2
}

.entry-contents h1 {
  @apply text-5xl;
}

.entry-contents h2, h2 {
  @apply text-4xl;
}

.entry-contents h3 {
  @apply text-3xl;
}

.entry-contents h4 {
  @apply text-2xl;
}

.entry-contents h5 {
  @apply text-xl;
}

.entry-contents h6 {
  @apply text-lg;
}

.entry-contents small {
  @apply text-sm;
}

.entry-contents b, .entry-contents strong {
  @apply font-bold
}

.entry-contents i, .entry-contents em {
  @apply italic
}

.entry-contents blockquote {
  @apply text-sm p-5 text-gray-400 italic border-l-4 border-gray-400;
}

.entry-contents ul {
  @apply list-disc list-inside;
}

.entry-contents ol {
  @apply list-decimal list-inside;
}
