@import './_functions.scss';
@import './_variables.scss';
@import './_mixins.scss';
@import './_root.scss';
@import './_reboot.scss';
@import './_type.scss';
@import './_alert.scss';
@import './_badge';
// @import './_breadcrumb';
@import './_button-group';
@import './_buttons';
@import './_buttons.scss';
@import './_card.scss';
// @import './_carousel.scss';
// @import './_close.scss';
// @import './_code.scss';
@import './_custom-forms.scss';
@import './_dropdown.scss';
@import './_forms.scss';
@import './_grid.scss';
@import './_images.scss';
@import './_input-group.scss';
// @import './_jumbotron.scss';
@import './_list-group.scss';
@import './_media.scss';
// @import './_modal.scss';
@import './_nav.scss';
@import './_navbar.scss';
@import './_pagination.scss';
// @import './_popover.scss';
// @import './_print.scss';
// @import './_progress.scss';
// @import './_spinners.scss';
@import './_tables.scss';
// @import './_toasts.scss';
// @import './_tooltip.scss';
@import './_transitions.scss';
@import './_utilities.scss';

body {
  padding-top: 5rem;
}

button {
  margin-right: 1rem;
}

#entry-list {
  overflow-y: auto;
  margin-bottom: 5px;

  @include media-breakpoint-down(xs) {
    img {
      max-width: 100%; // Part 1: Set a maximum relative to the parent
      height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
    }

    iframe,
    embed,
    object,
    video {
      width: 100%;
      height: auto;
      border: 0;
    }
  }
}
